---
import QueryProvider from "../helper/QueryProvider";
import HomePage from "./Homepage";

---
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <title>Pesan Tiket Online</title>
  </head>
  <body class="bg-white text-zinc-900">
    <main class="max-w-6xl mx-auto p-4 md:p-8">
      <QueryProvider client:load>
        <HomePage />
      </QueryProvider>
    </main>
  </body>
</html>
